caption {
    padding: 20px;
    font-size: 28px;
    color: #0077b6;
  }
 
  th:hover{
    
    background-color: #b600c7;
    color: #020f0a;
  }
  td {
    
    padding: 8px;
    text-align: center;
  }


 
  