*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;

}
#Contenedor{
    width: 100%;
    height: 70%;
}

#Encabezado
{
background-color: aqua;
width: 100%;
height: 80%;

}

#BarraLateral 
{

    float:  left;
    background-color: blanchedalmond;
    width: 200px;
    height:100% ;
}


#Contenido{
    margin-left: 200px;
  background-color: coral;
  /* width: 100%; */
  width: calc(100% - 200px);

  height: 70%;

}

#PiedePagina{
    background-color: chartreuse;
width: 50%;
height: 100%;
}

